.eventDetails_container{
    /* border: 2px solid  salmon; */
    padding: 15px;
    display: flex;
    gap: 6%;
    
}

.eventDetails_container .image_container_on_left{
    /* border: 1px solid rebeccapurple; */
    flex-basis: 60%;
}

.eventDetails_container .image_container_on_left .img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: bottom;
    border-radius: 7px;
}


.eventDetails_container .eventDetailsOnRight {
    /* display: flex; */
    /* align-items: center; */
    /* border: 1px solid palevioletred; */
    flex-basis: 40%;
    padding: 10px 0px;
   
}
.eventDetails_container .eventDetailsOnRight .details_container{
    padding: 10px;
      /* box-shadow: -5px -5px 2px 0px #B8E1FF; */
      box-shadow: 5px 5px 2px 0px #B8E1FF;
      background-color: #f6f6f6;
    /* border: 1px solid palevioletred; */
    /* background-color: #B8E1FF; */
}

.eventDetailsOnRight .details_container .event_head{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.eventDetailsOnRight .details_container .event_head .heading{
    font-size: 20px;
    font-weight: 600;
}
.eventDetailsOnRight .details_container  .price{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid grey;
    padding: 5px 0px;
    padding-bottom: 0;
}

.eventDetailsOnRight .details_container  .price button{
    background-color: #B8E1FF;
    border-radius: 10px;
    padding: 3px 8px;
}




.event_about_container{
    padding: 15px;
}
/* .event_about_container hr.line{
    border: 1px solid rgb(125, 122, 122);   
    margin-top: 10px;
} */

.event_about_container h1{
    border-bottom: 2px solid black;
    border-width: 2px;
}



/* ========================================== */

.related_events_container {
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    /* border: 2px solid red; */
}

.related_events_container .slick-slide{
    /* border: 1px solid blueviolet; */
        
}

.related_events_container .slick-slide>div {
    margin: 0 7%;
    /* height: 65vh; */
    width: 100%;
}

.related_events_container .slick-list {
    margin: 0 -10px;
}

.related_events_container .slick-next{
    right: -10px;
    top: 50%;
}
.related_events_container .slick-prev{
    left: -20px;
    z-index: 100;
    top: 50%;
}

.related_events_container .slick-prev, .slick-next { 
    /* top: 45%; */
}
   

.related_events_container .slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 0;
    opacity: .75;
    color: black;
}

@media only screen and (max-width: 600px) {
    .related_events_container .slick-prev:before,
    .slick-next:before {
        display: none;
    }
  }


  