
/* .form_input:focus{
    box-shadow: none;
} */
body{

}
.form-container{
    background-color: #F5F7FF ;
    padding: 30px;
}
.register_container{
background-color: #fff;
    width: 80%;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.register_container .form_input{
    border: 2px solid #7a82a8;
    border-radius: 8px;
    background-color: inherit;
    padding: 10px;
}

.Sign-up-page-heading{
    font-size: 26px;
    /* font-variant: all-petite-caps; */
    margin-bottom: 0;
    font-weight: 600;
}

.register_container .form_input:focus{
   background-color: inherit;
}
.register_container .form_input::placeholder{
    /* text-align: center; */
}


.register_container .btn{
    background-color: #353b5d;
    border-radius: 12px;
    width: 33.3%;
    color: #fff;
    font-weight: 600;
    padding: 10px 24px;
    margin-top: 10px;
    border: 2px solid #2a3b87 ;
}

.register_container .formContent .btn:hover{
    background-color: #fff;
    color: #353b5d;
    border: 2px solid #353b5d;
    transition: 300ms ease-in;
}
.img-fluid {
    align-self: center;
}

.register_container .formContent{
    /* width: 60%; */
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#f4faff,#b9dcfb); */
    /* margin: auto; */
}

.register_container .formContent .form-control{
    width: 90%;
}

.register_container .formContent h1{
    text-transform: uppercase;
    font-weight: 600;
}

.register_container .formContent .formAnchor{
    color: #007dff;
    font-weight: 600;
}

.signin-link{
    color: #555f94;
    font-weight: 500;
}
.signin-link:hover{
    color: #34407c;
}
/* .register_container .forFormOuterBorder{
    width: 80%;
    margin: auto;
   
    border-left: 2px solid #007dff;
    border-top: 2px solid #007dff;
    border-radius: 10px;
    
    padding: 10px;
    
} */


@media only screen and (max-width: 576px) {
    .register_container{
        margin: 0px;
        width: 100%;
    }
    .form-container{
        padding: 8px;
    }
    
    .register_container .formContent .form-control{
        width: 100%;
    }

    .register_container .btn{
        width: 50%;
    }

    .register_container  .form_container{
        padding: 0px;

    }
    
    .register_container .formContent{
        height: 60vh;
       
        
    }

  }
