.event_card_container{
    /* border: 1px solid red; */
    min-width: 25%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
/* background-color: white; */
}

.event_card_container .image__container{
    width: 100%;
    /* margin: auto; */
}
.event_card_container .image__container img{
    /* border-radius: 10px; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event_card_container .event__details{
    padding-right: 4%;
}
.event_card_container .event__name{
    font-size: 20px;
    font-weight: 400;
    color:  rgb(26, 112, 165);
    margin-top: 6%;
    line-height: 12px;
}
.event_card_container .event__venue{
    padding-top: 0;
    margin-top: 0;
    color:grey;
    font-size: 16px;
}
.event_card_container .event_date_tickets{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.event_card_container .event__date{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 20px;
}
.event_card_container .event__date span{
    color: grey;
    font-weight: normal;
    font-size: 14px;
}
.event_card_container .event__ticket{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 20px;
}

.event_card_container .event__ticket span{
    color: grey;
    font-weight: normal;
    font-size: 14px;
 }



 .event_card_container .author{
    display: flex;
    border-top: 1px solid rgb(185, 182, 182);
    border-bottom: 1px solid rgb(185, 182, 182);
    padding: 5px;
 }
 .event_card_container .author__name{
    color: grey;
    font-size: 14px;
 }


 